@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'leaflet/dist/leaflet.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
} 